<div id='success-message' class='panel panel-default'>
  <div class='panel-header'>
    <h3>Registration Recieved</h3>
  </div>
  <div class='panel-body'>
    <p class='lead'>Thank you.</p>
    <p class='lead'>Your registration has been recieved. You will be contacted with further details about the event.</p>
    <br/>
    <p class='lead'>Please note that space is limited, so if you wish to cancel your registration, send an email to <strong>codeclubgeneve@gmail.com</strong></p>
  </div>
</div>
