<section id='getinvolved'>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <div class="clearfix"></div>
        <h2 class="section-heading">Get Involved</h2>
        <p class="lead"><strong>Code Club Genève</strong> is run by volunteer parents. Want to get involved? We are looking for other parents to help with the organisation of the club.</p>
        <p class='lead'>You don't need to be a computer expert, we need lots of different skills to make <strong>Code Club Genève</strong> happen!
        Communication, Language Translation, Bookkeeping, Graphic Design and of course Computer Programming.</p>
        <a href="codeclubgeneve@gmail.com" class='contact'>Contact Us</a>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="assets/involve.jpeg" alt="">
      </div>
    </div>
  </div>
</section>
