<section id='landing' class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Code Club Genève</h1>
          <h3>Teaching kids how to code</h3>
          <hr class="intro-divider">
        </div>
      </div>
    </div>

  </div>
</div>
