<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#coding">Coding</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#workshops">Workshops</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#getinvolved">Get Involved</a>
                    </li>
                </ul>
                <p class="copyright text-muted small"><a href='https://commons.wikimedia.org/wiki/File:Gen%C3%A8ve_Jet_d%27eau.JPG'>Image source</a></p>
            </div>
        </div>
    </div>
</footer>
